@use "_variables" as *;
@use "_mixins" as *;
@import url(./normalize.css);
@import url(./layout.scss);
@import url(./button.scss);
@import url(./header.scss);
@import url(./footer.scss);

body {
  font-family: "Open Sans", sans-serif;
  background-color: $background-colour;
}

.splash {
  height: 100vh;
  background-color: $background-colour;
  background: linear-gradient($header-gradient-from, $header-gradient-to);
}

.big-title {
  font-size: 2.5em;
  margin: 0.65em 0;
  @include medium-and-up {
    font-size: 3em;
    margin: 0.7em 0;
  }
  @include large-and-up {
    font-size: 4em;
    margin: 0.75em 0;
  }
  @include xl-and-up {
    font-size: 5em;
    margin: 0.8em 0;
  }
}

.patterned {
  @include patterned-background;
}
