@use '_variables' as *;
@use '_mixins' as *;
@import url(./normalize.css);


body {
  background-color: $background-colour;
}

.container {
  @include block-padding;
}

.header {
  height: 100vh;
  /* padding-top: 15em;
    padding-bottom: 15em; */
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  .header__title {
    color: white;
    .header__title_highlight {
      color: $highlight;
    }
  }
}

.footer {
  @include block-padding;
  background-color: antiquewhite;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: $primary;
  &:hover,
  &:active {
    background-color: $highlight;
    cursor: pointer;
  }
}

.button_large {
  padding: 1rem 2rem;
}
